/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/open-sans-v40-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v40-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-img-1 {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  gap: 172px;
  width: 1300px;
  top: 56px;
  opacity: 0px;
  margin-top: 80px;
}
.text {
  width: Hug (470px) px;
  height: Hug (224px) px;
  top: 97px;
  left: 100px;
  gap: 16px;
  opacity: 0px;
  h3 {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    width: 470px;
    height: 78px;
    gap: 0px;
    margin-bottom: 16px;
    opacity: 0px;
  }
  p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 16px;
  }
  button {
    width: Hug (232px) px;
    height: Hug (40px) px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background: #00bafc;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
  }
}
img {
  border-radius: 4px;
}
.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
}

.hizmatlar {
  h4 {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: center;
    margin-left: 560px;

    margin-bottom: 16px;
  }
  p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}

.img-1 {
  width: 320px;
  height: 260px;
  top: 8px;
  left: 100px;
  padding: 24px 0px 0px 0px;
  gap: 16px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  img {
    margin-top: 10px;
    margin-left: 49px;
  }
  h5 {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-top: 16px;
  }
  .img-1__p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
  }
}
.rek-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rek-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.btn {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  width: Hug (167px) px;
  margin-left: 526px;
  margin-right: 26px;
  height: Hug (40px) px;
  top: 24px;
  padding: 8px 16px 8px 16px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background: #00bafc;
  margin-top: 40px;
  margin-bottom: 60px;
}
.rek {
  margin-bottom: 100px;
  button,
  btn {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    width: Hug (167px) px;
    margin-left: 461px;
    margin-top: 40px;
    margin-right: 26px;
    height: Hug (40px) px;
    top: 24px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background: #00bafc;
  }
  a {
    color: #00bafc;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
  }
}
.hizmatlar-1 {
  .biz {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    text-align: center;
  }
  p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
  }
}
.text-1 {
  width: Fixed (500px) px;
  height: Hug (82px) px;
  gap: 8px;
  opacity: 0px;
  margin-top: 94px;
}

.text-img {
  width: Hug (832px) px;
  height: Hug (278px) px;
  gap: 32px;
  opacity: 0px;
  margin-left: 12rem;
  display: flex;
}

.r-1 {
  margin-top: 80px;
  width: 500px;
  height: 58px;
  gap: 8px;
  opacity: 0px;
}

.main-footer-text-1 {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: center;
  color: #ffffff;
  padding-top: 56px;
}
.main-footer-text-2 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}
.main-footer {
  background: #00bafc;
  width: 348px;
  height: 304px;
  padding: 24px 0px 0px 0px;
  gap: 16px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  width: 1300px;
  height: 543px;
  top: 3028px;
  padding: 56px 100px 56px 100px;
  gap: 16px;
  opacity: 0px;
}

.btn-footer {
  width: 300px;
  height: 36px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  background: #f3f3f3;
  margin-top: 24px;
  margin-left: 22px;
  color: #000000;
  border-radius: 4px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background: #f3f3f3;
}

.card {
  width: 348px;
  padding: 8px 0px 8px 0px;
  gap: 0px;
  opacity: 0px;
  background: #ffffff;
  margin-left: 380px;
  border-radius: 8px;
}
.btn-footer-2 {
  width: 167px;
  height: 40px;
  background: #00bafc;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-left: 90px;
}

.null {
  h4 {
    font-family: Open Sans;
    color: #ffffff;

    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    padding-top: 56px;
    width: 149px;
    height: 26px;
    top: 56px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
  }
  p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    margin-top: 46px;
  }
}

.footer {
  width: 1300px;
  height: 338px;
  top: 3571px;
  gap: 16px;
  opacity: 0px;
  background: #191919;
}
.linklar {
  display: flex;
  flex-direction: column;
  padding-top: 56px;

  h4 {
    width: 143px;
    height: 26px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 16px;
  }
  a {
    text-decoration: none;
    font-family: Open Sans;
    color: #ffffff;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  a:hover {
    text-decoration: underline;
  }
}
.ob {
  display: flex;
  gap: 100px;
}

.internet {
  display: flex;
  flex-direction: column;
  padding-top: 56px;

  h4 {
    width: 143px;
    height: 26px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 16px;
  }
}

.tg {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.tg:hover {
  text-decoration: underline;
}

.ob {
  margin-left: 80px;
}
